body {	color:#666;	font:300 15px/15px Roboto,Arial,Helvetica;background-color:#fff;-webkit-font-smoothing:antialiased;}

a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}
.btn,a,.btn:hover,a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:700 5em Roboto,Arial,Helvetica;margin:0.25em 0;text-transform: uppercase;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}
.spacer{padding: 6em 0;}


/*** Nav****/

#mainNav {
    background-color: rgba(0,0,0,0.8);
}

/**** Pinto - Pinterest layout ***/

.pinto {
    box-sizing: border-box;
}
.pinto {
    margin-bottom:15px;
    color:#333;
    text-align:left;
    border-radius:5px;
    overflow:hidden;
    box-shadow: 2px 2px 5px #ccc, -2px 2px 5px #ccc;
}
.pinto img {
    display:block;
    width:100%;
}
.pinto .info {
    padding:10px 15px;
    background-color:#fff;
}
.pinto .info h2 {
    margin:0;
    font-size:18px;
}
.pinto .info p {
    margin:10px 0 0;
    font-size:14px;
}

#pinto-container {
    max-width: 1400px;
    margin: 0 auto;
}

/*** Center ****/


.createBoard-container, .showBoards-container, .uploadPin-container{
    margin: 0 auto;
    float: none;
}
