@(pins: List[Pin], board: String)

@pageLayout(board) {

    <div id="wrapper">
        <div id="pinto-container">
        @for(pin <- pins) {
            @card1(pin)
        }
        </div>
    </div>
}

<script>
        var socket = null;
        function subscribe(channel) {
            var subscribeUrl = "/socket" + "?channel=" + channel;
            console.log("Subscribed to: " + subscribeUrl);
            socket = new WebSocket("ws://" + window.location.host + subscribeUrl);
            socket.onmessage = function(event) {
                console.log(" Received " + event.data);

                var pin = JSON.parse(event.data);
                var pinHtml ="<div class=\"pinto\">" +
                            "   <img src=\" " + pin.url + " \" \/>" +
                            "   <div class=\"info\">" +
                            "       <h2>" + pin.title + "<\/h2>" +
                            "       <p>"+ pin.description+ "<\/p>" +
                            "   <\/div>" +
                            "<\/div>";

                $("#pinto-container").first().prepend(pinHtml);
                setPinLayout();
                $(document).trigger('resize');
            }
            socket.onclose = function(event) {
                console.log(event)
            }
        }

        $(document).ready(function(){
            var channel = $("#board-n").html();
            subscribe(channel);
            setPinLayout();
        });

        $(document).trigger('resize');

</script>