@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import com.websudos.phantom.dsl.ListResult
@(pins: ListResult[Pin], pagingState: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@pageLayout("Alta versiune de la all.scala.html") {

    <h1>Home</h1>
    <div id="wrapper">
        <div class="card-columns">
        @for(pin <- pins.records){

        }
            <input type="hidden" value="@pagingState">
        </div>
    </div>

}


