@(endpoint: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <script src="@routes.Assets.versioned("javascripts/jquery.simple.websocket.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                var webSocket = $.simpleWebSocket({url: " ws://" + window.location.host + "@endpoint"});

                // reconnected listening
                webSocket.listen(function (message) {
                    console.log(" Received " + message);

                    var prettyJson = JSON.stringify(JSON.parse(message), null, 2);

                    // Update textarea
                    $("#response").val(prettyJson + "\r\n" + $("#response").val())
                });

                function sendMessage(msg) {
                    webSocket.send(msg).done(function () {
                        console.log(" Message \"" + msg + "\" sent successfully");
                    }).fail(function (e) {
                        console.log(" Could not send message, " + e);
                    });
                }

                $("#message-form").submit(function (event) {
                    // Send the message and clear the input field
                    sendMessage($("#message").val());
                    $("#message").val("");
                })
            })
    </script>

}
